@import '../../scss/variables';

$toolbar-height: 90px;

.toolbar-wrapper {
  height: $toolbar-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .toolbar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  .toolbar-controls {
    height: $toolbar-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
