@import '../../scss/_variables.scss';

$reader-height: 500px;

.reader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $reader-height;
  .phrase-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background: red;
  }
}

// .reader-wrapper {
//   background: blue;
//   .phrase-section {
//     background: red;
//   }
// }
