@import '../../scss/variables';

$phrase-height: 60px;
$word-size: 1.4em;

.phrase-wrapper {
  min-height: $phrase-height;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $border-color;
  .phrase-textline {
    min-height: $phrase-height;
    width: 80%;
    max-width: 80%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .phrase-word {
      font-family: $font-serif;
      font-weight: 700;
      display: flex;
      align-items: center;
      padding: 8px 3px;
      margin: 0 2px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  .phrase-control-row {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .control {
      margin-right: 7px;
    }
  }
}

.phrase-wrapper {
  transition: all 0.3s;
  .phrase-textline {
    .phrase-word {
      transform: scale(1);
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}

.phrase-wrapper {
  border-bottom: 2px solid $border-color;
  .phrase-textline {
 
    &:hover .phrase-word:not(:hover) {
      background: $background-color-hover;
    }
    .phrase-word {
      color: #555;
      transition: all 0.3s;
      &:hover {
        color: $control-icon-color-hover;
      }
      &:active {
        color: $white;
        background: $control-icon-color-hover;
      }
    }
  }
  .phrase-control-row {
  }
}

// .phrase-wrapper {
//   background: red;
//   .phrase-textline {
//     background: gold;
//     .phrase-word {
//       background: green;
//     }
//   }
//   .phrase-control-row {
//     background: lightblue;
//   }
// }
