@import '../../scss/variables';

$toolbar-height: 70px;

.toolbar-wrapper {
  height: $toolbar-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .toolbar-group {
    display: flex;
    align-items: center;
    justify-content: center;
    &.left {
      .control {
        margin-left: 7px;
      }
    }
    &.right {
      .control {
        margin-right: 7px;
      }
    }
  }
}

// .toolbar-wrapper {
//   background: green;
//   .toolbar-group {

//   }
// }
