@import '../../scss/variables';

$card-row-height: 160px;

.card-row-outer {
  height: $card-row-height;
  padding: 0;
  position: relative;
  // overflow: hidden;
  .card-row-endcap {
    position: absolute;
    height: $card-row-height;
    width: 110px;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    &.left {
      left: 0;
      justify-content: flex-start;
    }
    &.right {
      right: 0;
      justify-content: flex-end;
    }
  }
  .card-row-inner {
    height: $card-row-height;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
}

.card-row-outer {
  transition: all 0.3s;
  .card-row-endcap {
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      .arrow {
        transition: all 0.3s;
        transform: scale(1.08);
      }
    }
    &.left {
      transition: all 0.3s;
    }
    &.right {
      transition: all 0.3s;
    }
  }
}

/*---------- Colors-----------*/

.card-row-outer {
  // background: #fff;
  .card-row-inner {
    .card-row-endcap {
      .arrow {
        color: $control-icon-color;
      }
      &.left {
        background: linear-gradient(90deg, #ffffff 50%, #ffffff00);
        &:hover {
          background: linear-gradient(
            90deg,
            $background-color-hover 50%,
            #ffffff00
          );
          .arrow {
            color: $control-icon-color-hover;
          }
        }
      }
      &.right {
        background: linear-gradient(90deg, #ffffff00, #ffffff 50%);
        &:hover {
          background: linear-gradient(
            90deg,
            #ffffff00,
            $background-color-hover 50%
          );
          .arrow {
            color: $control-icon-color-hover;
          }
        }
      }
      .arrow {
        border: none;
        background: transparent;
      }
    }
  }
}

/*---------- Colors-----------*/

// .card-row-outer {
//   background: red;
//   .card-row-endcap {
//     &.left {
//       background: green;
//     }
//     &.right {
//       background: green;
//     }
//   }
//   .card-row-inner {
//     background: gold;
//   }
// }
