@import 'variables';

$control-size: 60px;

/*---------------- Controls --------------- */
.control {
  height: $control-size;
  width: $control-size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  box-sizing: border-box;
  cursor: pointer;
  img.svg-icon {
    height: $control-size * 0.7;
    width: $control-size * 0.7;
  }
}
.control {
  color: $control-icon-color;
  background: $control-background-color;
  transition: all 0.2s;
  &:hover {
    color: $control-icon-color-hover;
    background: $control-background-color-hover;
  }
  &:active {
    color: $white;
    background: $control-background-color-focus;
  }
}

button.control {
  border: none;
}
