@import '../../scss/_variables.scss';

$banner-height: 100px;

/* ------- GLOBE HEADER ---------*/
.banner-wrapper {
  height:$banner-height;
  // position: relative;
  // top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .message {
    font-weight: 300;
    letter-spacing: 0.03em;
    padding: 0 20%;
    text-align: center;
  }
}

/*----------- COLORS ---------------*/

// .banner-wrapper {
//    background: gold;
//   .message {
//     color: white; //background: red;
//   }
// }
